:root {
    --modal-duration: 1s;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    transition: transform .4s linear;
}

header {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
                url(https://images.unsplash.com/photo-1438786657495-640937046d18?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 4rem;
        color: #fff;
    }

    p {
        width: 100%;
        max-width: 600px;
        line-height: 1.5;
        color: #fff;
        margin-bottom: 40px;
        text-align: center;
    }

    .cta-btn {
        border: none;
        outline: none;
        padding: 8px 30px;
        font-size: 1.2rem;
        color: #fff;
        background: crimson;
        cursor: pointer;
        will-change: transform;
        transition: .2s ease;

        &:active {
            transform: scale(.9);
        }
    }
}

.modal-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);

    &.show-modal {
        display: block;
    }
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    width: 100%;
    max-width: 400px;

    &-content {
        padding: 20px;

        div {
            margin: 20px 0;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            padding: 8px;
            width: 100%;
        }

        .submit-btn {
            border: none;
            outline: none;
            padding: 10px 20px;
            background: crimson;
            color: #fff;
            cursor: pointer;
            transition: .2s ease;

            &:active {
                transform: scale(.9);
            }
        }
    }

    .close-btn {
        position: absolute;
        right: 15px;
        top: 5px;
        border: none;
        outline: none;
        background: transparent;
        font-size: 1.4rem;
        cursor: pointer;
        color: crimson;
    }
}