* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #ecf4fb, #89c1c9);
}

.imageWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;

    img {
        width: 90%;
        max-width: 500px;
    }

    span {
        position: absolute;
        left: 5%;
        top: 5%;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
    }
}

.img-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
    width: 80%;
    margin: 100px auto 50px;

    img {
        width: 100%;
        transition: 1s ease;
        cursor: pointer;

        &:hover {
            transform: scale(.8);
            box-shadow: 0 35px 75px rgba(0,0,0,.4);
        }
    }
}