* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        font-family: sans-serif;

        li {
            list-style: none;

            a {
                text-decoration: none;
                font-size: 22px;
                color: white;
                padding: 1rem 2rem;
                position: relative;

                &::before, &::after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    background: white;
                    position: absolute;
                    transition: all 1s;
                    transform: scaleX(0);
                }

                &::before {
                    left: 0;
                    top: 0;
                    transform-origin: left;
                }

                &::after {
                    right: 0;
                    bottom: 0;
                    transform-origin: right;
                }

                &:hover::before, &:hover::after {
                    transform: scaleX(1);
                }
            }
        }
    }
}