* {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #242837;
}

.mainForm {
    position: relative;
    width: 380px;
    padding: 25px;
    background: #15a126;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: none;
        outline: none;
        border: none;
        padding: 15px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        &::placeholder {
            color: #ccc;
            font-weight: 400;
            font-size: 14px;
        }
    }

    &.invalid::before {
        content: "";
        position: absolute;
        right: 14px;
        background: url(images/invalid.png) no-repeat center;
        background-size: cover;
        width: 22px;
        height: 22px;
        object-fit: cover;
        transition: .4s ease;
    }

    &.valid::before {
        content: "";
        position: absolute;
        right: 14px;
        background: url(images/valid.png) no-repeat center;
        background-size: cover;
        width: 22px;
        height: 22px;
        object-fit: cover;
        transition: .4s ease;
    }
}